# All required API keys and URLs can be obtained through the links provided below.
# To ensure accessibility for everyone, all mentioned services are free to use and
# do not require a credit card for registration.

# Please visit each site manually to register, obtain your API credentials, and add them to your .env file.


QUARK_ROOT=.

PYTHON_BIN=/venv/bin/python

# https://x.ai/api
LLM_TOKEN=xxxxxxx
LLM_URL=https://api.groq.com/openai/v1
LLM_MODEL=meta-llama/llama-4-scout-17b-16e-instruct 

# https://www.voyageai.com/
EMBEDDDING_TOKEN=xxxxxx
EMBEDDING_MODEL=voyage-4-large

# https://unstructured.io/?modal=try-for-free
UNSTRUCTURED_TOKEN=xxxxxxx
UNSTRUCTURED_URL=https://api.unstructuredapp.io/general/v0/general

# https://qdrant.tech/
VECTOR_DB_TOKEN=qdrant-api
VECTOR_DB_URL=qdrant-url
COLLECTION_NAME=qdrant=collection-name

# https://mem0.ai/
MEM0_API=m0-xxxxxxx

# https://upstash.com/
REDIS_URL=

PINO_LOG_LEVEL=debug

ENV = dev

# ADD any S3 CREDENTIALS
OBJECT_NAME = quark-object
OBJECT_ID=FRIDZS7ZZHXXXXXXXXXXXX
OBJECT_ACCESS_KEY= SYeNnGXXXXXXXXXXXXXXXX

# PUTER api
SUMMARIZER_AI_TOKEN=
SUMMARIZER_AI_URL=


# https://supabase.com/
SUPERBASE_URL=https
SUPERBASE_KEY=sb_xxxxxxxxxxxxxx
SUPERBASE_DEV_KEY=eyJxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SUPABASE_DB_URL="postgresql://postgres.[REF]:[PASSWORD]@aws-0-[REGION].pooler.supabase.com:5432/postgres"
